<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Раписание кинотеатра</title>
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div>
        <h4> Расписание сеансов </h4>
        <div th:each="el : ${movieshows}">
            <label> <b>Название фильма: </b></label>
            <div th:text="${el.movie_russian_title}"></div>
            <label> <b>Дата и время сеанса:</b></label>
            <div th:text="${el.datetime}"></div>
            <a th:href="@{'/cinema_schedule/' + ${el.id}}"> Подробная информация о фильме и покупка билета </a>
            <p></p>
        </div>
    </div>
</body>
</html>