<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сайт развлекательного центра "Кристалл"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    label {
        font-size: 15px;
    }
</style>
<body>
    <header th:insert="blocks/header :: header"> </header>
    <embed vspace = 50;></embed>
    <label> Приветствуем вас на сайте развлекательного центра "Кристалл"!
    На данном сайте можно посмотреть список грядущих развлекательных и культурных мероприятий,
    расписание работы кинотеатра и заказать билеты.
    </label>
</body>
</html>