<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <h4>
        Введите данные для регистрации
    </h4>
<form th:action="@{/registration}" method="post">
    <div><label> Пользователь : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Регистрация"/></div>
</form>
</body>
</html>