<div th:fragment="header">
    <style>
    body{
        background-color: azure;
        font-size: 15px;
    }
    </style>
<H1> Развлекательный центр "Кристалл" </H1>
    <a HREF="/"> Главная страница </a>
    <a HREF="/activities_schedule"> Расписание мероприятий </a>
    <a HREF="/cinema_schedule"> Расписание кинотеатра </a>
    <a HREF="/add_activity"> Добавление мероприятия </a>
    <a HREF="/about"> О центре </a>
    <a HREF="/login"> Авторизация и регистрация </a>
<!-- <p th:text="'Hello, ' + ${title} + '!'" /> -->
</div>